/* NavHeader.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  position:fixed;
  margin-bottom:px;
  top: 0;
  width: 100%;
  background-color: #f6f4f0;
  z-index: 100;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.active {
  color: red;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  display: block;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

.header--img {
  margin-right: 10px;
  height: 100px;
  width: 200px;
  object-fit: cover; /* make sure the image fills the container */
  border-radius: 10px; /* add some rounded corners */
}



.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

.menu-btn span {
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.menu-btn.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.menu-btn.open span:nth-child(2) {
  opacity: 0;
}

.menu-btn.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.menu {
  font-family: 'Bebas Neue', sans-serif;
  color:#f6f4f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -120px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  background-color: #276461;
  opacity: 0.95;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.menu.open {
  transform: translateY(0);
}

.menu li {
  margin-bottom: 20px;
}

.menu li:last-child {
  margin-bottom: 0;
}

.menu li a {
  font-size: 20px;
  color: #f6f4f0;
  text-decoration: none;
}

.menu li a.active {
  font-weight: bold;
  color:#ff8080;
}
.menu li a:hover,
.header .menu-btn:hover {
  background-color: rgb(198, 207, 211); 
  border-radius: 10px;
  padding: 10px; /* Increase the padding value */
}


@media screen and (min-width: 768px) {
  .header {
  display: flex;
  max-width:100%;
  margin-bottom:100px;
  padding: 20px 10px;
  margin: 0px auto;
  box-shadow:none;
  position:static;
  background-color: #f6f4f0; /* add a background color */
  }

  .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 10px;
    margin-left:100px;
    line-height: normal;
    position:static;
  }
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    margin-top:30px;
    margin-left:130px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#276461;
    background-color: #f6f4f0;
    font-family: 'Bebas Neue', sans-serif;
  }

  .menu li {
    margin: 0 30px;
  }

  .menu li:last-child {
    margin-right:0;
    margin-left: 10px;
  }

  .menu li a {
    font-size: 20px;
    color:#276461;
    text-decoration: none;
    
  }

  .menu li a.active {
    font-weight: bold;
    color: #red;
  }

  .menu li a:hover,
.header .menu-btn:hover {
  background-color: rgb(198, 207, 211); 
  border-radius: 10px;
  padding: 10px;
}
 .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden
} 
}
