@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,100&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


.footer--t{
  position: none;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
  background-color:#276461;
  color:#EDE6DB;
  }
.footer--button{
  position: none;
  margin-bottom: 5px;
}

.footer--text{
  position: none;
 margin-bottom: 5px;
}


.copy--div{
  padding-bottom: 100px;
}

body{
  background-color: #EDE6DB;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #276461; /* add a background color */
  padding: 1em; /* add some padding */
}

.header--img {
  height: 160px;
  width: 360px;
  object-fit: cover; /* make sure the image fills the container */
  border-radius: 10px; /* add some rounded corners */
}



.navbar{
  background-color: #276461;
  color: #EDE6DB;
  /* position: sticky; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav--ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.nav--li{
  border-right: 1px solid #bbb;
  
}

.nav--li-a{
  display: block;
  color: #EDE6DB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}
.nav--li-a.selected {
  color: blue !important;
}

 a:hover {
  background-color: #063034;
}

a:active{
  background-color: #063034;
}

/* Add a responsive design for smaller screens */
@media (max-width: 768px) {
  .nav--ul{
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav--li{
    border-right: none;
    border-bottom: 1px solid #bbb;
    width: 100%;
    text-align: center;
  }
}